# Script to build and publish a Reloaded Mod.
# by Sewer56

# Produces:
#   - Build to Upload to GameBanana
#   - Build to Upload to GitHub
#   - Build to Upload to NuGet
#   - Changelog

# When pushing a tag
#   - Upload to GitHub Releases
#   - Upload to Reloaded NuGet Repository (if GitHub Secret RELOADED_NUGET_KEY is specified)

name: Build and Publish Reloaded Mod

on:
  push:
    tags:
      - "*"
  pull_request:
    branches: [main]
  workflow_dispatch:

env:
  PUBLISH_PATH: ./Publish
  PUBLISH_CHANGELOG_PATH: ./Publish/Changelog.md
  
  PUBLISH_TOOLKIT_PATH: ./Publish/ToUpload/Toolkit/Generic
  PUBLISH_DUMPER_PATH: ./Publish/ToUpload/Dumper/Generic
  
  CORE_PROJECT_NAME: UE.Toolkit.Core
  INTERFACES_PROJECT_NAME: UE.Toolkit.Interfaces

  IS_RELEASE: ${{ startsWith(github.ref, 'refs/tags/') }}
  RELEASE_TAG: ${{ github.ref_name }}

jobs:
  build:
    runs-on: windows-latest
    defaults:
      run:
        shell: pwsh

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          submodules: "true"

      - name: Setup .NET Core SDK (5.0)
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 5.0.x

      - name: Setup .NET Core SDK (8.0)
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x

      - name: Build Core
        run: dotnet pack ${{ env.CORE_PROJECT_NAME }} -c Release --output .
          
      - name: Build Interfaces
        run: dotnet pack ${{ env.INTERFACES_PROJECT_NAME }} -c Release --output .

      - name: Push to NuGet
        if: env.IS_RELEASE == 'true'
        run: dotnet nuget push "*.nupkg" --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "14"

      - name: Setup AutoChangelog
        run: npm install -g auto-changelog

      - name: Create Changelog
        run: |
          [System.IO.Directory]::CreateDirectory("$env:PUBLISH_PATH")
          if ($env:IS_RELEASE -eq 'true') {
              auto-changelog --sort-commits date --hide-credit --template keepachangelog --commit-limit false --starting-version "$env:RELEASE_TAG" --output "$env:PUBLISH_CHANGELOG_PATH" --template .github/changelog.hbs
          }
          else {
              auto-changelog --sort-commits date --hide-credit --template keepachangelog --commit-limit false --unreleased --output "$env:PUBLISH_CHANGELOG_PATH" --template .github/changelog.hbs
          }

      - name: Build
        run: ./PublishAll.ps1

      - name: Upload GitHub Release Artifact
        uses: actions/upload-artifact@v4
        with:
          # Artifact name
          name: GitHub Release
          # A file, directory or wildcard pattern that describes what to upload
          path: |
            ${{ env.PUBLISH_TOOLKIT_PATH }}/*
            ${{ env.PUBLISH_DUMPER_PATH }}/*

      - name: Upload Changelog Artifact
        uses: actions/upload-artifact@v4
        with:
          # Artifact name
          name: Changelog
          # A file, directory or wildcard pattern that describes what to upload
          path: ${{ env.PUBLISH_CHANGELOG_PATH }}
          retention-days: 0
          
      - name: Upload to GitHub Releases (on Tag)
        uses: softprops/action-gh-release@v0.1.14
        if: env.IS_RELEASE == 'true'
        with:
          # Path to load note-worthy description of changes in release from
          body_path: ${{ env.PUBLISH_CHANGELOG_PATH }}
          # Newline-delimited list of path globs for asset files to upload
          files: ./Publish/ToUpload/**/*